<!DOCTYPE html>
<html lang="pt_br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#8257E5">
	<link rel="shortcut icon" href="/images/favicon.png" type="image/png">	
	<title>Proffy | Pagina não encontrada</title>
	<link rel="stylesheet" href="/styles/main.css">
	<link rel="stylesheet" href="/styles/partials/error.css">
	<link rel="stylesheet" href="/styles/partials/header.css">

	<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>

  <body id="page-erro">


    <div id="container">
      <header class="page-header">
        <div class="top-bar-container">
          <img src="/images/logo.svg" alt="Proffy">
        </div>
  
        <div class="header-content">
          <strong>Opa!!!<p>Parece que essa pagina não existe ou está com problemas para carregar</p></strong>
        </div>
      </header>
  
      <main>
  			<div class="buttons-container">
          <a class="inicio" href="./">
            Voltar ao inicio
          </a>
        </div>
      </main>
    </div>
  </body>
</html>
