<!DOCTYPE html>
<html lang="pt_br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">	
	<title>Proffy | Formulário enviado</title>
	<link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/page-sucessfull.css">


	<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>

<body id="page-sucessfull">
		<div id="container">
			<div class="check-container">
				<img src="/images/icons/success-check-icon.svg" alt="Sucesso">
				<strong>Cadastro salvo!</strong>
				<p>Tudo certo, seu cadastro está na nossa lista de professores.</p><p>agora é só ficar de olho no seu WhatsApp</p>
			
			<div class="buttons-container">
				<a class="study" href="./study">
					ver lista
				</a>
			</div>
			
			</div>
	
			<img class="background-image" src="/images/success-background.svg" alt="background">
	
		</div>
</body>
</html>